#home
  /center
  %h1 Oh My Gherkin Live!

  - if notice
    #notice
      = notice

  .navigation
    %ul
      %li
        = link_to 'About Us', about_path, id: 'about-us'
      %li
        = link_to 'Talk to Us', new_talk_path, id: 'talk-to-us'
      /
        %li
          = link_to 'Brand New Page', about_path, id: 'brand-new-page'
/
  #video
    .heading-text
      Video Text goes here
    .link
      = link_to 'Video Link Goes Here', 'http://www.youtube.com', target: :_blank