= form_for @talk do |form|
  - if @talk.errors.any?
    #error_explanation
      %h2= "#{pluralize(@talk.errors.count, 'error')} prohibited this form from being saved:"
      %ul
        - @talk.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label 'USER CUSTOMIZED1'
    = form.text_field :user_customized1

  .field
    = form.label 'USER CUSTOMIZED2'
    = form.text_field :user_customized2

  .field
    = form.label 'USER CUSTOMIZED3'
    = form.text_field :user_customized3

  .field
    = form.label 'USER CUSTOMIZED4'
    = form.text_field :user_customized4

  .field
    = form.label 'USER CUSTOMIZED5'
    = form.text_field :user_customized5

  .field
    = form.label :email
    = form.text_field :email

  .field
    = form.label :message
    = form.text_area :message

  = link_to 'Cancel', root_path
  = form.submit 'Send Love'