= form_for @garden do |f|
  - if @garden.errors.any?
    #error_explanation
      %h2= "#{pluralize(@garden.errors.count, "error")} prohibited this garden from being saved:"
      %ul
        - @garden.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :owner
    = f.text_field :owner
  .field
    = f.label :is_active
    = f.check_box :is_active
  .field
    = f.label :inception_date
    = f.datetime_select :inception_date
  .actions
    = f.submit 'Save'
