%h1 Listing gardens

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Owner
      %th Is active
      %th Inception date
      %th
      %th
      %th

  %tbody
    - @gardens.each do |garden|
      %tr
        %td= garden.name
        %td= garden.description
        %td= garden.owner
        %td= garden.is_active
        %td= garden.inception_date
        %td= link_to 'Show', garden
        %td= link_to 'Edit', edit_garden_path(garden)
        %td= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Garden', new_garden_path
