%p#notice= notice

%p
  %b Name:
  = @garden.name
%p
  %b Description:
  = @garden.description
%p
  %b Owner:
  = @garden.owner
%p
  %b Is active:
  = @garden.is_active
%p
  %b Inception date:
  = @garden.inception_date

= link_to 'Edit', edit_garden_path(@garden)
\|
= link_to 'Back', gardens_path
